################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrboPortal/.vs/TrboPortal/v16/Server/sqlite3
