body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#genericErrorContainer {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    align-content: center;
    text-align: center;
}

#genericInnerErrorContainer {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    align-content: center;
    text-align: center;
}


.GpsWrapper {
    display: table;
}

.GpsRow {
    display: table-row;
}

.table-cell {
    border: 1px solid;
    display: table-cell;
    padding: 2px;
}

.GpsRowTable {
    width: 50%;
}
.GpsRowMap {
    width: 50%;
}