<div class="jumbotron">
    <h1>BataTrbo</h1>
    <p class="lead">
        Turbo turbo! 🔥🔥<br />
        Dit is een koppelvlak tussen <a href="https://trbonet.com/downloads/" target="_blank">TRBOnet Enterprise</a> en een normale leesbare @Html.ActionLink("REST-interface", "Swagger", "Home", new { area = "" }, null).
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>De queue</h2>
        <p>BataTrbo heeft een interne queue met een rate limiter, deze @Html.ActionLink("queue", "MessageQueue", "Home", new { area = "" }, null) wordt gebruikt om met een @Html.ActionLink("ingestelde interval", "Settings", "Home", new { area = "" }, null) de GPS-locatie van de @Html.ActionLink("portofoons en mobilofoons", "Radios", "Home", new { area = "" }, null) op te vragen.</p>
    </div>
    <div class="col-md-4">
        <h2>Koppeling</h2>
        <p>Koppelingen en ESB's maken is een zeer specialistisch tak van sport. </p>
        <p>Waar mogelijk hebben wij zoveel mogelijk beunskills gecombineerd met enterprise-grade abstracties.</p>
        <figure>
            <img src="~/Content/VoorbeeldKoppeling.jpg" style="width:70%" />
            <figcaption><em>Voorbeeld van een koppeling</em></figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <h2>Bata(panini)</h2>
        <p>Dit hele verhaal is om te zorgen dat we voertuigen in de race kunnen volgen. De GPS-coördinaten worden hiervoor automagisch doorgezet naar het systeem waar we dit kunnen volgen. Dit systeem heet Batapanini.</p>
        <p><a class="btn btn-default" href="https://www.batavierenrace.nl/nl/50/ciabata/" target="_blank">Ga naar BataPanini &raquo;</a></p>
    </div>
</div>
