<style>
    body {
        overflow: hidden;
    }

</style>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <iframe style="width: 100vw;height: 100vh;position: relative;" src="/Logs.axd" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
