<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

<script type="module" src="/Scripts/message-queue.js"></script>
<style>
    .select,
    .like {
        margin-right: 10px;
    }
</style>
<div id="toolbar">
    <div id="queueCounter">Location requests sent: ??</br>Location responses received: ??</br>Internal Queue Size: ??</div>
    <button id="clearBataTrboQueue" class="btn btn-danger" onclick="clearBataTrboQueue()">
        <i class="fa fa-trash"></i> Clear BataTrbo Queue
    </button>
    <button id="clearInternalQueue" class="btn btn-danger" onclick="clearInternalQueue()">
        <i class="fa fa-trash"></i> Clear Internal Queue
    </button>
</div>
<table id="messageQueueTable"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-show-columns-toggle-all="true"
       data-detail-view="true"
       data-show-export="false"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="false"
       data-pagination="false"
       data-id-field="id"
       data-page-list="[all]"
       data-show-footer="true"
       data-side-pagination="client"
       data-response-handler="responseHandler">
</table>