<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

<script type="module" src="/Scripts/radios.js"></script>

<style>
    .select,
    .like {
        margin-right: 10px;
    }
</style>
<div class="jumbotron">
    <h1>Radios</h1>
</div>
<div id="toolbar">
    <button id="addRadio" class="btn btn-success" onclick="toggleRadioEditForm()">
        <i class="fa fa-plus"></i> Add
    </button>
    <button id="remove" class="btn btn-danger" disabled>
        <i class="fa fa-trash"></i> Delete
    </button>
</div>

<div id="radioEditContainer" style="display: none;" onsubmit="SubmitClicked()">
    <div>
        <h2>Add / Edit Radio</h2>
    </div>
    <form id="radioEditForm">
        <div class="form-group row">
            <label for="radioId" class="col-4 col-form-label">Radio ID</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-sort-numeric-asc"></i>
                        </div>
                    </div>
                    <input id="radioId" name="radioId" required="required" placeholder="1" type="number" min="1" class="form-control" aria-describedby="RadioIdHelpBlock">
                </div>
                <span id="RadioIdHelpBlock" class="form-text text-muted">Radio ID, identifier of this radio.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-4 col-form-label">Friendly name</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-address-card"></i>
                        </div>
                    </div>
                    <input id="name" name="name" required="required" placeholder="Radio 1" type="text" class="form-control" aria-describedby="FriendlyNameHelpBlock">
                </div>
                <span id="FriendlyNameHelpBlock" class="form-text text-muted">Friendly name to identify this device. Not used for any logic</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="gpsMode" class="col-4 col-form-label">GPS Mode</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                    </div>
                    <select id="gpsMode" name="GPS Mode" required="required" placeholder="none" type="text" aria-describedby="GpsModeHelpBlock" class="form-control">
                        <option value="none">none (No GPS at all)</option>
                        <option value="pull">pull (Only get GPS when actively requested)</option>
                        <option value="interval">interval (Get GPS at default interval, and allow pulling)</option>
                    </select>
                </div>
                <span id="GpsModeHelpBlock" class="form-text text-muted">GPS Mode for this device. (none, pull, interval)</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="gpsInterval" class="col-4 col-form-label">GPS Interval</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <input id="requestInterval" name="requestInterval" required="required" placeholder="60" type="number" min="1" class="form-control" aria-describedby="IntervalHelpBlock">
                </div>
                <span id="IntervalHelpBlock" class="form-text text-muted">GPS interval (in seconds) when using GPS Mode 'interval'</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button id="submit" name="submit" type="submit" class="btn btn-primary">Submit</button>
                <button id="cancel" class="btn btn-secondary" onclick="showRadioEditForm(false)">Cancel</button>
            </div>
        </div>
    </form>
</div>
<table id="radiosTable"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-show-columns-toggle-all="true"
       data-detail-view="true"
       data-show-export="false"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="false"
       data-pagination="false"
       data-id-field="id"
       data-page-list="[all]"
       data-show-footer="true"
       data-side-pagination="client"
       data-response-handler="responseHandler">
</table>

<!-- Modal for conformation -->
<div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="labeltje, waarom kijk jij hier naar?" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hé jij daar!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Weet jij dat, heul, heul, heul zeker?!</p>
                <p>Je verwijderd nu <strong>radio <em class="title"></em></strong></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal">Zeker weten!</button>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap-Table Magic -->
<script>
    var $table = $('#radiosTable')
    var $remove = $('#remove')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    
    function detailFormatter(index, row) {
        var detailsToHide = ['state', 'radioId', 'Status', 'LastSeen', 'LastGpsRequested', 'LastGpsTimeStamp', 'GpsMeasurements'];
        var html = []
        html.push('<h3>Info</h3>')
        $.each(row, function (key, value) {
            if (!detailsToHide.includes(key)) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            }
        })
        html.push('<h3>GPS Measurements</h3>');
        html.push(getGpsMeasurementTable(row['GpsMeasurements']));
        return html.join('')
    }

    function getGpsMeasurementTable(gspMeasurements){
        var html = []
        html.push("<table><tr><th>TimeStamp</th><th>Latitude</th><th>Longitude</th></tr>");
        $.each(gspMeasurements, function (index, m) {
            var row = `<tr><td>${m['Timestamp']}</td><td>${m['Latitude']}</td><td>${m['Longitude']}</td></tr>`;
            html.push(row);
        })
        html.push("</table>");
        return html;
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="request_gps" href="javascript:void(0)" title="Request GPS"><i class="fa fa-location-arrow"></i>     </a>',
            '<a class="edit" href="javascript:void(0)" title="Edit"><i class="fa fa-pen"></i>     </a>',
            '<a class="remove" href="#genericModal" title="Remove" data-toggle="modal" data-target="#genericModal" data-radioid="' + row['radioId']+'"><i class="fa fa-trash"></i>     </a>',
        ].join('')
    }

    function dateFormatter(value, row, index) {
        if (typeof(value) == 'undefined') {
            return 'N/A';
        }
        return moment(value).format("dddd HH:mm:ss");
    }

    $("#genericModal").on('show.bs.modal', function (e) {
        var data = $(e.relatedTarget).data();
        $('.title', this).text(data.radioid);
        $('.btn-ok', this).data('radioid', data.radioid);
    });

    $('#genericModal').on('click', '.btn-ok', function (e) {
        var radioid = $(this).data('radioid');
        deleteRadio(radioid);
    });

    window.operateEvents = {
        'click .request_gps': function (e, value, row, index) {
            //alert('Requesting GPS for: ' + row['radioId'] + JSON.stringify(row))
            refreshGps(row['radioId']);
        },
        'click .edit': function (e, value, row, index) {
            editRadio(row['radioId'], row['name'], row['GpsMode'], row['requestInterval']);
        },
    }

    
    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            // Defines the URL to get table data from.
            url: `${getApiBaseUrl()}/radio`,
            height: 800,
            locale: 'en-US',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: 'Radio ID',
                    field: 'radioId',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    title: 'Item Detail',
                    colspan: 5,
                    align: 'center'
                }],
                [{
                    field: 'Status',
                    title: 'Status',
                    sortable: true,
                    align: 'center'
                },
                    {
                        field: 'LastSeen',
                        title: 'Last Seen',
                        sortable: true,
                        align: 'center',
                        formatter: dateFormatter
                    },
                    {
                        field: 'LastGpsRequested',
                        title: 'Last GPS Request',
                        align: 'center',
                        clickToSelect: false,
                        formatter: dateFormatter
                    },
                    {
                        field: 'LastGpsTimeStamp',
                        title: 'Last GPS Received',
                        align: 'center',
                        clickToSelect: false,
                        formatter: dateFormatter
                    },
                    {
                        field: 'operate',
                        title: 'Actions',
                        align: 'center',
                        clickToSelect: false,
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }]
            ]
        })
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                // save your data, here just save the current page
                selections = getIdSelections()
                // push or splice the selections if you want to save all data selections
            })
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args)
        })

    }

    $(function () {
        initTable()
    })
</script>