<script type="module" src="/Scripts/settings.js"></script>

<div class="container">
    <div class="jumbotron">
        <h1>Settings</h1>
    </div>
    <div id="warning-container" class="mx-3 mx-sm-5">
        <span class="warning warning-text" id="warning-generic" style="display: none;"></span>
    </div>
    <form id="SettingsForm" onsubmit="SubmitClicked();">
        <div class="form-group row">
            <label for="ServerInterval" class="col-4 col-form-label">Server Interval</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <input readonly id="ServerInterval" name="ServerInterval" placeholder="0" type="number" min="1" class="form-control" aria-describedby="ServerIntervalHelpBlock" required="required">
                </div>
                <span id="ServerIntervalHelpBlock" class="form-text text-muted">Server Ticker Interval (in seconds) used for global ratelimiting.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="DefaultGpsMode" class="col-4 col-form-label">Default GPS Mode</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                    </div>
                    <select disabled id="DefaultGpsMode" name="DefaultGpsMode" placeholder="none" type="text" aria-describedby="DefaultGpsModeHelpBlock" required="required" class="form-control">
                        <option value="none">none (No GPS at all)</option>
                        <option value="pull">pull (Only get GPS when actively requested)</option>
                        <option value="interval">interval (Get GPS at default interval, and allow pulling)</option>
                    </select>
                </div>
                <span id="DefaultGpsModeHelpBlock" class="form-text text-muted">GPS Mode for newly added devices. (none, pull, interval)</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="DefaultInterval" class="col-4 col-form-label">Default GPS Interval</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <input readonly id="DefaultInterval" name="DefaultInterval" placeholder="60" type="number" min="1" aria-describedby="DefaultIntervalHelpBlock" required="required" class="form-control">
                </div>
                <span id="DefaultIntervalHelpBlock" class="form-text text-muted">Default GPS interval (in seconds) when using GPS Mode 'interval'</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="TurboNetSettings-Host" class="col-4 col-form-label">Host</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-server"></i>
                        </div>
                    </div>
                    <input readonly id="TurboNetSettings-Host" name="TurboNetSettings-Host" placeholder="0.0.0.0" type="text" class="form-control" aria-describedby="TurboNetSettings-HostHelpBlock" required="required">
                </div>
                <span id="TurboNetSettings-HostHelpBlock" class="form-text text-muted">TrboNet host address</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="TurboNetSettings-Port" class="col-4 col-form-label">Port</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-sort-numeric-asc"></i>
                        </div>
                    </div>
                    <input readonly id="TurboNetSettings-Port" name="TurboNetSettings-Port" placeholder="4021" type="number" class="form-control" aria-describedby="TurboNetSettings-PortHelpBlock" required="required">
                </div>
                <span id="TurboNetSettings-PortHelpBlock" class="form-text text-muted">Trbonet Host port number</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="TurboNetSettings-User" class="col-4 col-form-label">User</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user-circle"></i>
                        </div>
                    </div>
                    <input readonly id="TurboNetSettings-User" name="TurboNetSettings-User" placeholder="admin" type="text" class="form-control" aria-describedby="TurboNetSettings-UserHelpBlock" required="required">
                </div>
                <span id="TurboNetSettings-UserHelpBlock" class="form-text text-muted">TrboNet Host username</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="TurboNetSettings-Password" class="col-4 col-form-label">Password</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input readonly id="TurboNetSettings-Password" name="TurboNetSettings-Password" placeholder="xxx" type="text" class="form-control" aria-describedby="TurboNetSettings-PasswordHelpBlock" required="required">
                </div>
                <span id="TurboNetSettings-PasswordHelpBlock" class="form-text text-muted">TrboNet Host password</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="CiaBataSettings-Host" class="col-4 col-form-label">CiaBata host</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-map-signs"></i>
                        </div>
                    </div>
                    <input readonly id="CiaBataSettings-Host" name="CiaBataSettings-Host" type="text" class="form-control" required="required">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <!-- This submit button is dual-state Edit/Submit, behaviour handled in settings.js. -->
                <button disabled id="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </form>
</div>