<style>
    body {
        overflow: hidden;
    }
    .container {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <iframe style="width: 95vw;height: 95vh;position: relative;" src="/swagger/ui/index#!/TrboPortal" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
