<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="NLog.log">

  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="TrboPortal.log"
              layout="${longdate} ${level} [${callsite}] ${message} ${exception:format=tostring}" />
	  <target name="webViewLogfile" type="File" encoding="utf-8"
			fileName="${basedir}/App_Data/Logs/${shortdate}.txt"
			layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-request:serverVariable=remote_addr}|${message}${onexception:${newline}${exception:format=tostring}}" />	
    </target>
    <target xsi:type="Database" name="logDb" dbProvider="System.Data.SQLite"
            connectionString="Data Source=${basedir}\App_Data\TrboNet.db;Version=3;"
            useTransactions="false" commandType="Text">
      <commandText>
        INSERT into LogEntry(Timestamp, LogLevel, CallSite, Message, Exception) values(@unixtimestamp,@level,@callsite,@message, @exception)
      </commandText>
      <parameter name="@unixtimestamp" layout="${unixtimestamp}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${unixtimestamp}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <!-- <logger name="*" minlevel="Debug" writeTo="asyncFile" /> -->
    <logger name="*" minlevel="Debug" writeTo="logDb" />
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>